
# Chave da API Google Gemini (Obrigatória para análise)
# Obtenha em: https://aistudio.google.com/app/apikey
API_KEY=sua_chave_aqui

# Google OAuth Client ID (Obrigatória para integração com Google Drive)
# Obtenha no Google Cloud Console: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=seu_client_id.apps.googleusercontent.com

# Controle de Acesso Público (true/false)
# Se true, usuários podem usar o app sem configurar chaves locais se a API_KEY estiver no servidor.
API_PUBLIC_ACCESS=false


# Segurança Cloudflare Turnstile
TURNSTILE_ENABLED=false
CF_SITE_KEY=sua_site_key_aqui
CF_SECRET_KEY=sua_secret_key_aqui

ENV_FILE=.env
LOGS_FILE=terminal
