
# Chaves Principais
API_KEY=sua_chave_gemini
GOOGLE_CLIENT_ID=seu_client_id.apps.googleusercontent.com

# Segurança Cloudflare Turnstile
TURNSTILE_ENABLED=false
CF_SITE_KEY=sua_site_key_aqui
CF_SECRET_KEY=sua_secret_key_aqui

# Configurações de Sistema
API_PUBLIC_ACCESS=false
ENV_FILE=.env
LOGS_FILE=terminal
